/* Reset */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

/* Menu */

.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
